NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/orders
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/orders

MONGO_URI=mongodb://127.0.0.1/tailor-book

AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

NEXT_PUBLIC_BASE_URL=http://localhost:3000/

AWS_BUCKET_FULL_URL=https://bucket-name.s3.region.amazonaws.com/

RESEND_API_KEY=